@font-face {

    font-family: 'bebas_neueregular';

    src: url('../font/bebas_neue/bebasneue-regular-webfont.woff2') format('woff2');
    src: local("?"),
         url('../font/bebas_neue/bebasneue-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;

}



@font-face {

    font-family: 'champagne__limousinesregular';

    src: url('../font/champagne_limousines/champagne__limousines-webfont.woff2') format('woff2'),

         url('../font/champagne_limousines/champagne__limousines-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;


}




@font-face {
    font-family: 'the_heart_of_everything_demRg';
    src:url('../font/the_heart_of_everything_demo/the_heart_of_everything_demo-webfont.woff2') format('woff2');
    src: local("?"),
         url("../font/the_heart_of_everything_demo/the_heart_of_everything_demo-webfont.ttf") format("truetype"),
         url('../font/the_heart_of_everything_demo/the_heart_of_everything_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



*{margin: 0; padding:0;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

}



body{

  /*background-color: #909090;*/
  /*background-image: url(../images/fondo_gallery.jpg);*/

  background-position: top;
}


/* PRIMERA PARTE CONTENEDOR=====================================================*/
#contenedor{

	width: 100%;

	margin: 0 auto;

	background-color: #D5F7F3;

}



.wrapper{

	width: 100%;

	max-width: 1200px;

	margin: auto;

	overflow: hidden;

}



header{

	width: 100%;

	background-attachment: scroll;

	background-position: center;

	background-repeat: no-repeat;

	background-size: cover;

	overflow: hidden;

	

}



header .menus{

	padding-left: 230px;

	width: 100%;

}



header .menus nav{

	display: block;

	margin-left: 70px;

}



header .menus nav li{

	float: left;

	list-style: none;

}



header .menus nav a{

	display: inline-block;

	color: gray;

	text-decoration: none;

	padding: 10px 30px;

	font-family: 'bebas_neueregular';

	font-size: 16px;

	-webkit-transition:all 500ms ease;

	-o-transition:all 500ms ease;

	transition:all 500ms ease;

	list-style: none;

}



header .menus nav a:hover{

  color: RGB(0,125,125);
}



.menu-fixed{

	position:fixed;

	z-index:1000;

	top:0;

	max-width:700px;

  /* ancho de fondo del menu flotante*/
	justify-content: center;

	align-items: center;

	background: #DADEDB;

	/* color de fuente FFA0D5 */

	/*left:0;*/

	/*Podemos hacer que el menu abarque el 100% al hacer scroll*/

	width:100%;

}





header .titulo_principal{

	/*margin-left: 400px;
*/
  align-items: center;
}



header .titulo_principal h2{

  	font-family: 'the_heart_of_everything_demRg';
  	font-size: 85px;
	color: gray;
  	font-style: normal;
  	font-weight: lighter;
  	align-items: center;
}

/* ===============CAJA PARALLAX===================== */
/*------------CAJA #1---------*/

.caja-prom-1{
	width: 100%;
	height: 500px;
	background-color: none;
}

.caja-prom-1 .imagen-1{
	width: 45%;
	height:480px;
	margin: 10px;
	margin-left: 280px;
}

.caja-prom-1 .imagen-1 .info-1{
	position: absolute;
	overflow: hidden;
	width: 540px;
	height:480px;
	background-color: rgba(31,31,31,0.9);
	-webkit-transition: opacity 0.2s;
	opacity: 0;
}

.imagen-1:hover .info-1{
	opacity: 1;
}

.caja-prom-1 .imagen-1 .info-1 .headline{
	position: absolute;
	-webkit-transition: margin 0.2s;
	margin-top: 25px;
	margin-left: -70px; 
	font-size: 30px;
	font-family: arial;
	color: white;

}

.imagen-1:hover .info-1 .headline{
	margin-left: 50px;
}

.caja-prom-1 .imagen-1 .info-1 .parrafo-1{
	margin:auto;
	width: 520px;
	text-align: center;
	-webkit-transition: margin 0.3s;
	margin-top: 350px;
	font-family: arial;
	color: white;

}

.imagen-1:hover .info-1 .parrafo-1{
	margin-top: 170px;
}



/* =============================== PIE DE PAGINA ============================== */
footer{
	width: 100%;
	height: 300px;
	background-color: #e6fcfa;
}

footer .contenedor-PDP{
	height: 280px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	list-style: none;
}



footer .contenedor-PDP .lista1-PDP{

	width: 33.3%;

	height: 280px;

	background-color:#e6fcfa;

	float: left;

	list-style: none;

}



footer .contenedor-PDP .lista1-PDP ul{

	text-align: center;

	padding-top: 20px;

	font-family: 'champagne__limousinesregular';

	font-size: 20px;

	list-style: none;

}

footer .contenedor-PDP .lista1-PDP ul .parrafo-1-f{
	margin-top: 50px;
}

footer .contenedor-PDP .lista2-PDP{

	width: 33.3%;

	height: 280px;

	background-color: #e6fcfa;

	float: left;

	padding: 20px 0 0 50px;

	font-family: 'champagne__limousinesregular';

}



footer .contenedor-PDP .lista2-PDP h1{

	font-size: 30px;

}



footer .contenedor-PDP .lista2-PDP .row{

	margin-top: 20px;

	display: flex;

}



footer .contenedor-PDP .lista2-PDP .row img{

	width: 36px;

	height: 36px;

}



footer .contenedor-PDP .lista2-PDP .row label{

	margin-top: 10px;

	margin-left: 20px;

	color: black;

}



footer .contenedor-PDP .lista3-PDP{

	width: 33.3%;

	height: 280px;

	background-color: #e6fcfa;

	float: left;

	font-family: 'champagne__limousinesregular';

	margin: 20px 0 0 40px;


}



footer .contenedor-PDP .lista3-PDP h1{

	font-size: 30px;

}



footer .contenedor-PDP .lista3-PDP .row2{

	margin-top: 20px;

	display: flex;

}



footer .contenedor-PDP .lista3-PDP .row2 img{

	width: 36px;

	height: 36px;

}



footer .contenedor-PDP .lista3-PDP .row2 label{

	margin-top: 10px;

	margin-left: 20px;

	max-width: 140px;

}