*{margin: 0; padding:0;}

body{
	background-color: #f1f0f0;
	margin:0 auto;
}
#contenedor{
	width: 100%;
	margin: 0 auto;
}

header{
	overflow: hidden;
	background: #edfff8;
	margin-bottom: 20px;
	height: 100px;
}



.wrapper{
	width: 95%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

@font-face {
    font-family: 'the_heart_of_everything_demRg';
    src: url('fonts/the_heart_of_everything_demo/the_heart_of_everything_demo-webfont.woff2') format('woff2'),
         url('fonts/the_heart_of_everything_demo/the_heart_of_everything_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebas_neue/bebasneue-regular-webfont.woff2') format('woff2'),
         url('fonts/bebas_neue/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'juliavintagemedium';
    src: url('../fonts/juliavintage/juliavintage-webfont.woff2') format('woff2'),
         url('../fonts/juliavintage/juliavintage-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



header .logo{
	color: #f2f2f2;
	font-size: 50px;
	line-height: 200px;
}


header .navega a:hover{
	background: #bcb4aa;
	border-radius:50px;
	color: white;
	}

.imagenlogo{
	float: left;
	margin-left: 550px;
	font-family: 'the_heart_of_everything_demRg';
}

.imagenlogo h2{
	font-size: 70px;
	color: #bcb4aa;
}


section{
	width: 1220px;
	margin: 0 auto;
}

section p{
	text-align: center;
}

/* galeria del index*/
.gallery{
	margin: 10px 50px;
}

.wrapper_gal{
	width: 1400px;
	max-width: 1400px;
	margin: auto;
	overflow: hidden; 
	padding-left: 110px;
}

.gallery img{
	width: 230px;
	padding: 5px;
	transition: 1s;
}

.gallery img:hover{
	transform: scale(1.1);
}



/*inicio de galeria*/
.wrapper_gal{
    width: 1400px;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    padding-left: 110px;
}

.galeria_completa{
	width: 100%;
}

.gallery img{
	width: 380px;
	padding: 5px;
}

/* talleres */
.primer-curso{
	width: 100%;
	max-width: 1000px;
	height: 500px;
}

.primer-curso img{
	float: left;
}

.primer-curso-texto{
	background: #edfff8;
	width: 100%;
	max-width: 1000px;
	height: 100px;
	border-radius: 10px;
}

.primer-curso-texto .informacion1{
	float: left;
	max-width: 490px;
	padding:10px; 
}

.primer-curso-texto .informacion2{
	float: right;
	max-width: 450px;
	padding:10px; 
}

.primer-curso-texto .informacion1 h4{
	 font-family: 'bebas_neueregular';
}

.primer-curso-texto .informacion2 h4{
	 font-family: 'bebas_neueregular';
}

.primer-curso-texto .informacion1 p{
	 font-family: 'arial';
}

.primer-curso-texto .informacion2 p{
	 font-family: 'arial';
}



/* footer */

footer{
	width: 100%;
	background: #202020;
	color: white;
	padding:20px;
	font-family: arial;
}

footer .container-footer-all{
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

footer .container-footer-all .container-body{
	display: flex;
	justify-content: space-between;
}

footer .container-footer-all .container-body .colum1{
	max-width: 400px; 

}

footer .container-footer-all .container-body .colum1 h1{
	font-size: 22px;
}

footer .container-footer-all .container-body .colum1 p{
	font-size: 14px;
	color: #c7c7c7;
	margin-top: 20px;
}

footer .container-footer-all .container-body .colum2{
	max-width: 400px;
}

footer .container-footer-all .container-body .colum2 h1{
	font-size: 22px;
}

footer .container-footer-all .container-body .colum2 .row{
	margin-top: 20px;
	display: flex;
}

footer .container-footer-all .container-body .colum2 .row img{
	width: 36px;
	height: 36px;
}

footer .container-footer-all .container-body .colum2 .row label{
	margin-top: 10px;
	margin-left: 20px;
	color: #c7c7c7;
}

footer .container-footer-all .container-body .colum3{
	max-width: 400px;
}

footer .container-footer-all .container-body .colum3 h1{
	font-size: 22px;
}

footer .container-footer-all .container-body .colum3 .row2{
	margin-top: 20px;
	display: flex;
}

footer .container-footer-all .container-body .colum3 .row2 img{
	width: 36px;
	height: 36px;
}

footer .container-footer-all .container-body .colum3 .row2 label{
	margin-top: 10px;
	margin-left: 20px;
	max-width: 140px;
}